/* Resetando margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  line-height: 1.6;
}

/* Container para centralizar o conteúdo */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Cabeçalho */
header {
  background-color: #2e2e2e;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #f1c40f; /* Amarelo */
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #2ecc71; /* Verde */
}

/* Seções principais */
.section {
  padding: 50px 0;
  background-color: #1e1e1e;
}

.section h2 {
  font-size: 2em;
  color: #f39c12; /* Amarelo */
  margin-bottom: 20px;
  text-align: center;
}

.section p {
  font-size: 1.2em;
  color: #e0e0e0;
  text-align: justify;
  margin-bottom: 20px;
}

/* Rodapé */
footer {
  background-color: #2e2e2e;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

footer p {
  font-size: 1em;
}

